:root {
    --bg: #f5f7fa;
    --card: #ffffff;
    --text: #222;
    --border: #ddd;
    --primary: #b6ddff;
}

body.dark {
    --bg: #121212;
    --card: #1e1e1e;
    --text: #f1f1f1;
    --border: #333;
    --primary: #3a7bd5;
}

* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: var(--bg);
    padding: 30px;
    color: var(--text);
}

.container {
    max-width: 1000px;
    margin: auto;
    background: var(--card);
    border-radius: 10px;
    padding: 25px;
    border: 1px solid var(--border);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 15px;
}

.header h1 {
    margin: 0;
}

.header-actions {
    display: flex;
    gap: 10px;
}

button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
}

.add-btn {
    background: var(--primary);
}

.dark-btn {
    background: #444;
    color: #fff;
}

/* Cards */
.students {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* ALWAYS 2 columns */
    gap: 20px;

}

.student-card {
    border: 1px solid var(--border);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    padding: 25px;
    display: flex;
    gap: 25px;
    background: var(--card);
}

/* LEFT SIDE */
.left {
    display: flex;
    align-items: center;
}

.student-info {
    flex: 1;
    /* pushes buttons to right */
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: transparent;
    font-size: 26px;
}

/* BUTTONS */
.actions {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.actions button {
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 12px;
}

/* COLORS */
.edit {
    background: #b7f3c2;
}

.delete {
    background: #ffc1c1;
}


/* DIVIDER */
.divider {
    width: 2px;
    background: var(--border);
}

/* RIGHT SIDE */
.right {
    flex: 1;
}

.right p {
    margin: 8px 0;
    font-size: 16px;
}



/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: var(--card);
    padding: 25px;
    border-radius: 12px;
    width: 320px;
}

.modal-content h3 {
    margin-top: 0;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

/* Footer */
.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid var(--border);
    padding-top: 10px;
}

@media (max-width: 768px) {
    .students {
        grid-template-columns: 1fr; /* single column on mobile */
    }
}
